*{
    margin: 0;
    padding: 0;
}
div{
    height: 70vh;
    background-image: url("https://cdn.pixabay.com/index/2024/07/25/07-43-06-503_1440x550.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 3rem;
    color: white;
    font-weight: 900;
}