p{
    font-size: 50px;
    /* font-weight: 800; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-style: italic; */
    /* font-style: oblique; */
    /* font-variant: small-caps; */
    background-image: url("./img1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    /* background-position: center; */
    
    /* background-size: cover; */
    /* background-size: 400px 300px; */
    /* background-size: 200px; */
    /* height: 70vh;
    width: 50%; */
    /* overflow: hidden; */
}
body{
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: 100%; */
    /* background-image: url("https://cdn.pixabay.com/photo/2017/08/07/00/24/sea-2597926_960_720.jpg"); */
}