h1{
    color: red;
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: overline;
    text-decoration-style: dashed;
    text-decoration-style: double;
    text-decoration-style: dotted;
    text-decoration-style: wavy ;
    text-decoration-color: palevioletred;
    text-shadow: 20px 5px 5px black;
}
p{
    text-indent: 30px;
    line-height: 30px;
    word-spacing: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
h2{
    font-weight: 900;
    font-weight: bold;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-style: oblique;
    font-style: normal;
}